<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ScanBookCode</title>
</head>
<body>
	<h1>Store book's ISBN code</h1>
Androidの<a href="http://www.appbrain.com/app/barcode-scanner/com.google.zxing.client.android" target="_blank">Barcode Scanner(QRコードスキャナー)</a>
でスキャンした書籍のISBNコードを蓄積します。<br />
蓄積したコードは一覧表示できますので、他のアプリケーションで取りこんで利用することが可能です。<br />
蓄積したデータは、90日で削除されます。<br />
<br />
<a href="setup/BarcodeScanner.html#setup">QRコードスキャナーでの設定方法</a><br />
<a href="setup/BarcodeScanner.html#usage">使い方</a>
<br />
<br />
データの管理に、Googleのアカウント情報を利用しています。<br />
商品の説明のページのリンクは、アフィリエイトになっています。<br /><br />
<ul style="font-size: larger;">
<li><a href="/v">登録データ参照</a></li>
<li><a href="/d">登録データ削除</a></li>
</ul>
<img src="setup/image/email.png" alt="email address" width="220" hight="64" align="right" />
</body>
</html>