<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./site.css" type="text/css" />
<title>ScanBookCode</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-306762-9']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_setDomainName', '_scanbookcode_appspot_com']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  // enable the APNIC IPProtoTest and feed google analytics events
  if ('http:' == document.location.protocol) {
   var ipproto_user = '567191';
   (function() {
    var iga = document.createElement('script'); iga.type = 'text/javascript'; iga.async = true;
    iga.src = 'http://labs.apnic.net/ipprototest.js';
    var is = document.getElementsByTagName('script')[0]; is.parentNode.insertBefore(iga, is);
   })();
  }
</script>
</head>
<body>
<div align="right">
<script src="http://trackfeed.com/usr/557d020ea3.js" type="text/javascript"></script>
</div>
	<h1>Store book's ISBN code<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'ja'}
</script>
</h1>
Androidの<a href="http://www.appbrain.com/app/barcode-scanner/com.google.zxing.client.android" target="_blank">Barcode Scanner(QRコードスキャナー)</a>
でスキャンした書籍のISBNコードを蓄積します。<br />
蓄積したコードは一覧表示できますので、他のアプリケーションで取りこんで利用することが可能です。<br />
蓄積したデータは、90日で削除されます。<br />
<br />
<a href="setup/BarcodeScanner.html#setup">QRコードスキャナーでの設定方法</a><br />
<a href="setup/BarcodeScanner.html#usage">使い方</a>
<br />
<br />
データの管理に、Googleのアカウント情報を利用しています。<br />
商品の説明のページのリンクは、アフィリエイトになっています。<br /><br />
<ul style="font-size: larger;">
<li><a href="/v">登録データ参照</a></li>
<li><a href="/d">登録データ削除</a></li>
</ul>
<script type="text/javascript" src="http://metric.inetcore.com/46meter/46meter.js?s=scanbookcode.appspot.com"></script>
<img src="setup/image/email.png" alt="email address" width="220" hight="64" align="right" />
</body>
</html>